In [15]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [16]:
us_counties_file = "live/us-counties.csv"
counties_df = pd.read_csv(us_counties_file)
counties_df.head()

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-08-01,Autauga,Alabama,1001.0,1015,21.0,972.0,20.0,43.0,1.0
1,2020-08-01,Baldwin,Alabama,1003.0,3101,22.0,3056.0,21.0,45.0,1.0
2,2020-08-01,Barbour,Alabama,1005.0,598,5.0,550.0,5.0,48.0,0.0
3,2020-08-01,Bibb,Alabama,1007.0,363,2.0,355.0,2.0,8.0,0.0
4,2020-08-01,Blount,Alabama,1009.0,767,3.0,685.0,3.0,82.0,0.0

In [37]:
counties_df.dtypes
counties_df.dropna(inplace= True)
counties_df["fips"].fillna(0.0).astype(int)
counties_df["fips"] = counties_df["fips"].apply(np.int64)
counties_df = counties_df["fips"].astype(int)

AttributeError: 'Series' object has no attribute 'columns'

In [3]:
mask_use_file = "mask-use/mask-use-by-county.csv"
mask_use_df = pd.read_csv(mask_use_file)
mask_use_df.head()

   COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436
2      1005  0.067   0.121      0.120       0.201   0.491
3      1007  0.020   0.034      0.096       0.278   0.572
4      1009  0.053   0.114      0.180       0.194   0.459